@font-face {
    font-family: 'LexendZettaRegular';
    src: url('./Fonts/Lexend_Zetta/static/LexendZetta-Regular.ttf') format('ttf');
    font-family: 'LexendZettaBold';
    src: url('./Fonts/Lexend_Zetta/static/LexendZetta-Bold.ttf') format('ttf');
  }

  html{
      padding: 0;
      margin: 0;
  }

  body{
    padding: 0;
    margin: 0;
}