@font-face {
    font-family: 'LexendZetta';
    src: url('/Fonts/Lexend_Zetta/static/LexendZetta-Regular.ttf') format('ttf');
  }

  html{
      padding: 0;
      margin: 0;
  }

  body{
    padding: 0;
    margin: 0;
}